<H1 class="text-center my-24 text-x1"><b>{{name}}</b>, Welcome to NOODLES AND COOKIES Creator</H1>
<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg">
    <h1 class="text-3x1 m-16 font-bold text-center">Create</h1>

    <form action="" method="POST" class="mt-4">

        <select name="category" class="border border-gray-200 text-lg p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-32">
                <option value="cookies">cookies</option>
                <option value="noodles">noodles</option>
        </select>
        
        <input type="text" name="product_name" placeholder="Product Name" 
        class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required> 

        <input type="number" name="stock" placeholder="Stock Quantity"
        class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required>

        <input type="number" name="price" placeholder="Price"
        class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required>

        <button type="submit" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-green-600 focus:bg-green-700">Send</button>

        {{#if error}}
            <p class="text-red-500 font-bold text-lg my-3">* {{error}}</p>
        {{/if}}    

    </form>
</div>