<H1 class="text-center my-24 text-x1"><b>{{name}}</b>, Welcome to NOODLES AND COOKIES Editor</H1>
<style>
    .actions-box {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .action-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;
        margin-right: 10px; /* Separación entre botones */
        transition: background-color 0.3s;
    }

    .action-button:hover {
        background-color: #45a049;
    }
</style>

<div class="actions-box">
    <li class="nav-item px-4">
    <a href="/tasks/create" class="nav-link font-semibold bg-green-500 text-white hover:bg-blie-700 py-3 px-4 rounded-md">Create</a>
    </li>
    <li class="nav-item px-4">
    <a href="/tasks/edition" class="nav-link font-semibold bg-green-500 text-white hover:bg-blie-700 py-3 px-4 rounded-md">Edit</a>
    </li>
</div>