<H1 class="text-center my-24 text-x1 mt-10"><b>{{name}}</b>, Welcome to NOODLES AND COOKIES Searcher</H1>
<div class="flex flex-col items-center mt-10">
    <div class="flex flex-col md:flex-row justify-center items-center bg-white border border-gray-200 rounded-lg shadow-lg m-4 p-4 md:p-8 mt-10">

        <h1 class="text-3xl font-bold text-center mb-4 md:mb-0 md:mr-4">Filter</h1>

        <form action="/tasks/search" method="POST" class="flex flex-col md:flex-row items-center">

            <select name="category" class="border border-gray-200 text-lg p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-32">
                <option value="cookies">cookies</option>
                <option value="noodles">noodles</option>
            </select>

            <input type="text" name="product_name" placeholder="product_name" class="border border-gray-200 text-lg placeholder-gray-500 p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-32">

            <label class="block text-lg m-2">Prices:</label>
            <input type="number" name="minPrice" placeholder="Mín." class="border border-gray-200 text-lg placeholder-gray-500 p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-20">
            <input type="number" name="maxPrice" placeholder="Máx." class="border border-gray-200 text-lg placeholder-gray-500 p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-20">

            <select name="priceFilter" class="border border-gray-200 text-lg p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-32">
                <option value="mayor">Per max</option>
                <option value="menor">Per min</option>
            </select>

            <label class="block text-lg m-2">Stock Range:</label>
            <input type="number" name="minStock" placeholder="Mín." class="border border-gray-200 text-lg placeholder-gray-500 p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-20">
            <input type="number" name="maxStock" placeholder="Máx." class="border border-gray-200 text-lg placeholder-gray-500 p-2 m-2 bg-gray-200 focus:bg-white w-full md:w-20">

            <button type="submit" class="rounded-md bg-green-500 text-lg text-white font-semibold p-2 m-2 hover:bg-green-600 focus:bg-green-700">Filtrar</button>

            {{#if error}}
                <p class="text-red-500 font-bold text-lg m-2">* {{error}}</p>
            {{/if}}

        </form>
    </div>
    <h1><b>{{name}}</b></h1>
    <table class="min-w-full bg-white border border-gray-300">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b text-center">Category</th>
            <th class="py-2 px-4 border-b text-center">Product Name</th>
            <th class="py-2 px-4 border-b text-center">Price</th>
            <th class="py-2 px-4 border-b text-center">Stock</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr class="bg-gray-100 hover:bg-gray-300">
            <td class="py-2 px-4 border-b text-center">{{this.category}}</td>
            <td class="py-2 px-4 border-b text-center">{{this.product_name}}</td>
            <td class="py-2 px-4 border-b text-center">{{this.price}}</td>
            <td class="py-2 px-4 border-b text-center">{{this.stock}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

